@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url('fontes/android.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}  
h1, h2, h3{
    font-family: 'android', cursive;
    font-weight: normal;
}  
body{
    background-image: linear-gradient(rgb(166, 240, 166));

}
header{
    text-align: center;
    background-image: linear-gradient(#94e0a3 30%, rgb(29, 70, 29));
    padding: 10px;
    margin: -8px;
    
}
header > h1 {
    color: white;
}
header > p{
    color: white;
}
nav{
    text-align: justify;
    padding: 10px;
    margin: auto;
    
}
nav:hover{
    color: rgb(0, 0, 0);
}

nav > a{
    text-decoration: none;
    color: rgb(232, 236, 233);
    font-weight: bold;
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    
}
nav > a:hover{
    background-color: #42e963;
    color: #1d461d;
}
main{
    background-color: aliceblue;
    border-image-width: auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    max-width: 788px;
    width: 95vw;
    padding: 30px;
    margin: 8px auto;
    border-radius: 10px;

}

main img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

main video{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
     footer{
            background-color: #2D844A;
            color: #120505 0%;
            text-align: center;
            padding: 0.5px;
            margin: 0px;

        }
        footer > p{
            margin: 4px;
            padding: 10px;
        }
.video-android{
    display: flex;
    justify-content: center;
    margin: 20px 0;

}
.video-android iframe{
    max-width: 100%;
    border-radius: 10px;
}

.extra{
    background-color: #C5EBD6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.extra > h3{
    background-color: #2D844A;
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0 0;
}

ul{
    list-style-type: circle;
    list-style-position: inside;
    columns: 2;
    padding: 10px;
}

li{
    padding-bottom: 5px;
}

ul > li > a{
    text-decoration: none;
    color: #2D844A;
    font-weight: bold;
}